@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap');
* {
  margin: 0 auto;
}
.hero-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  background-color: #F7EBEC;
}
.main-header {
  margin: 20px 0px 20px 20px;
  font-family: inter;
  color: #1D1E2C;
  font-size: 48px;
}
.hero-home h2 {
  font-family: comfortaa;
}
.purpose {
  background-color: #AC9FBB;
}
.projects {
  background-color: #DDBDD5;
  height: 100vh;
  width: 100vw;
  font-family: inter;
}
.projects h1 {
  text-align: center;
}
.projects-container {
  display: grid;
  grid-template-columns: auto auto;
  margin: 30px;
}
.web-dev {
  background-color: white;
  padding: 30px;
}
.graphic-design {
  background: white;
  padding: 30px;
}
.contact-me {
  background-color: #1D1E2C;
  color: white;
  height: 100vh;
  width: 100vw;
}
.purpose {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
}
#purpose-header {
  padding: 50px;
  font-family: inter;
}
.purpose-text {
  color: #F7EBEC;
  font-size: 24px;
  text-align: center;
  padding: 43% 0% 60% 0%;
  font-family: comfortaa;
}

.circle-container {
  display: flex;
}
.circle {
  width: 300px;;
  height: 300px;
  border-radius: 50%;
  background: black;
}
#c1:hover {
  background: #F7EBEC;
  transition: background-color 0.5s ease;
}
#c1:hover p {
  color: black;
}
#c2:hover {
  transition: background-color 0.5s ease;
  background: #fffbd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(40deg, #fffbd5, #b20a2c); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(40deg, #fffbd5, #b20a2c);
}
#c3:hover {
  background: -webkit-linear-gradient(320deg, #ffffff, #000000)
}

/* Project Carousels */
.webNav {
  text-align: center;
}
#prevBtn {
  display: block;
  float: left;
}
#nextBtn {
  display: block;
  float: right;
}

.graphicScroller {
  text-align: center;
}
.contact-me {
  font-family: inter;
  display: flex;
  flex-direction: column;
  height: auto;
  padding-top: 20vh;
  padding-bottom: 10vh;
}
.socials {
  font-family: 'Roboto Mono', monospace;
  display: inline-block;
  
}
.icons {
  display: grid;
}
a{
  text-decoration: none;
  color: white;
}
a:visited{
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
  color: #fa8072;
}
.projImg {
  width: 300px;
  height: 300px;
}
.projImg:hover {
  cursor: pointer;
}
.projDes {
  width: 300px;
}
footer {
  color:#fffbd5;
  text-align: center;
  font-family: inter;
  background-color: #1D1E2C;
}
 /* Style the Image Used to Trigger the Modal */
 #myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  
}
#handshakeicon {
  animation: bounce 2s;
  animation-iteration-count: infinite;
}


/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
} 
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .hero-home {
      display: flex;
      text-align: center;
      flex-wrap: wrap;
      width: 100%;
      height: 100%;
      background-color: #F7EBEC;
    }
    .main-header {
      margin: 20px 0px 20px 20px;
      font-family: inter;
      color: #1D1E2C;
      font-size: 2em;
    }
    .hero-home h2 {
      font-family: comfortaa;
    }
    .circle-container {
      display: flex;
      flex-direction: column;
    }
    .projects {
      background-color: #DDBDD5;
      height: auto;
      width: 100vw;
      font-family: inter;
      margin-bottom: -20px;
    }
    .projects-container {
      display: flex;
      flex-direction: column;
      margin: 10px auto
    }
    .web-dev {
      background-color: #DDBDD5;
      padding: 30px;
    }
    .graphic-design {
      background: #DDBDD5;
      padding: 30px;
    }
    .purpose {
      height: auto;
      width: 100%;
      margin: 0 auto;
    }
    #purpose-header {
      padding: 50px;
      font-family: inter;
    }
    .purpose-text {
      color: #F7EBEC;
      font-size: 24px;
      text-align: center;
      padding: 43% 0% 60% 0%;
      font-family: comfortaa;
    }
    #c1 {
      background: #F7EBEC;
      transition: background-color 0.5s ease;
    }
    #c1 p {
      color: black;
    }
    #c2 {
      transition: background-color 0.5s ease;
      background: #fffbd5; /* fallback for old browsers */
      background: -webkit-linear-gradient(40deg, #fffbd5, #b20a2c); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(40deg, #fffbd5, #b20a2c);
    }
    #c3 {
      background: -webkit-linear-gradient(320deg, #ffffff, #000000);
      margin-bottom: 10%;
    }
    .socials {
      height: 100%;
    }
    #prevBtn {
      position: absolute;
      left: 0px;
      margin-top: 100px;
      width: 40px;
      height: 40px;
    }
    #nextBtn {
      position: absolute;
      right: 0px;
      margin-top: -200px;
      width: 40px;
      height: 40px;
    }
    .graphic-design {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
    }
    #prevBtnG {
      position: absolute;
      left: 0px;
      margin-top: 100px;
      width: 40px;
      height: 40px;
    }
    #nextBtnG {
      position: absolute;
      right: 0px;
      margin-top: 100px;
      width: 40px;
      height: 40px;
    }
}
/*ipad media query*/ 
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .circle {
      width: 250px;;
      height: 250px;
      border-radius: 50%;
      background: black;
    }
    #c1 {
      background: #F7EBEC;
      transition: background-color 0.5s ease;
    }
    #c1 p {
      color: black;
    }
    #c2 {
      transition: background-color 0.5s ease;
      background: #fffbd5; /* fallback for old browsers */
      background: -webkit-linear-gradient(40deg, #fffbd5, #b20a2c); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(40deg, #fffbd5, #b20a2c);
    }
    #c3 {
      background: -webkit-linear-gradient(320deg, #ffffff, #000000);
      margin-bottom: 10%;
    }
    .purpose {
      height: auto;
    }
    .projects {
      height: auto;
      margin-bottom: -30px;
      padding: 10px auto;
    }
    .web-dev {
      margin-right: 10px;
      margin-left: -10px;
      margin-bottom: 10px;
    }
    .graphic-design {
      margin-bottom: 10px;
    }
}
/* ipad landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
    #c1 {
      background: #F7EBEC;
      transition: background-color 0.5s ease;
    }
    #c1 p {
      color: black;
    }
    #c2 {
      transition: background-color 0.5s ease;
      background: #fffbd5; /* fallback for old browsers */
      background: -webkit-linear-gradient(40deg, #fffbd5, #b20a2c); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(40deg, #fffbd5, #b20a2c);
    }
    #c3 {
      background: -webkit-linear-gradient(320deg, #ffffff, #000000);
      margin-bottom: 10%;
    }
}


